<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    admin
    <div id="userData">
        <ul id="userList"></ul>
    </div>
    <div id="category">
        <div id="categoryList"><ul></ul></div>
        <form action="">
            <input type="text" name="category">
            <button type="submit" id="categortBtn">추가하기</button>
        </form>
    </div>
    <div>----------------------------------------------</div>
    <div id="hit_Total">총 VIEW: <span></span></div>
    <div>----------------------------------------------</div>
    <div id="like_Total">총 좋아요: <span></span></div>
    <div>----------------------------------------------</div>
    <div id="day"></div>
    <div>----------------------------------------------</div>
    <div id="time"></div>
    <div>----------------------------------------------</div>
    <div id="likes">
        <span>category</span> <span>male</span> <span>female</span>
    </div>
    <div>----------------------------------------------</div>
    <div id="tag"><ul></ul></div>



    <script src="/js/module/admin/admin.js" type="module"></script>
</body>
</html>