* {
    letter-spacing: -0.0525em;
}

body {
    height: 100%;
    overflow: hidden;
}
/* 스크롤바 */
#wrap::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}
#wrap::-webkit-scrollbar-thumb {
    height: 20%; /* 스크롤바의 길이 */
    background: #666; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}
#wrap::-webkit-scrollbar-track {
    background: rgba(168, 168, 168, 0.1);  /*스크롤바 뒷 배경 색상*/
}



#wrap {
    position: absolute;
    top: 64%;
    left: 50%;
    height: 100%;
    width: 100%;
    overflow: auto;
    transform: translate(-50%, -50%);
}


#header { 
    width: 1200px;
    margin: 0 auto;
}

#gnb {
    width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.switchBox {
    display: flex;
    width: 230px;
    justify-content: space-between;
}

#sortBox {
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 96px;
    height: 32px;
    color: #FABE19;
    font-size: 1.1em;
    position: relative;
    box-shadow: rgb(0 0 0 / 0.4) 0px 4px 8px;
}

#sortBox::after {
    content: "▾";
    position: absolute;
    top: 4px;
    right: 8px;
}

#sortSwitch {    
    background: rgb(55, 55, 60);
    color: #e5e5e5;
    padding-left: 10px;
    border: none;
    outline: none;
    width: 96px;
    height: 32px;
    border-radius: 4px;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
}


#categoryBox {
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 110px;
    height: 32px;
    color: #079850;
    font-size: 1.1em;
    position: relative;
    box-shadow: rgb(0 0 0 / 0.4) 0px 4px 8px;
}

#categoryBox::after {
    content: "▾";
    position: absolute;
    top: 4px;
    right: 8px;
}

#categorySwitch {    
    background: rgb(55, 55, 60);
    color: #e5e5e5;
    padding-left: 10px;
    border: none;
    outline: none;
    width: 110px;
    height: 32px;
    border-radius: 4px;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
}






#searchBox > form {
    width: 100%;
    height: 38px;
    overflow: hidden;
    background: transparent;
    border: 1px solid #ddd;
    box-shadow: rgb(0 0 0 / 0.4) 0px 4px 8px;
}

#searchBox select {
    border: none;
    outline: none;
    color: #fff;
    font-size: 12px;
    background: transparent;
    padding-left: 8px;
}

#searchBox input {
    width: 80px;
    border: none;
    outline: none;
    color: #fff;
    background: transparent;
    padding-left: 4px;
}

#searchBox button {
    width: 42px;
    height: 36px;
    border: none;
    line-height: 10px;
    text-align: center;
    /* background: #333; */
    background: transparent;
}
#searchBox button:hover {
    background: #333;
    cursor: pointer;
}



#boardList {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.boardItem {
    width: 320px;
    height: 390px;
    transition: all 0.2s ease-in-out;
    position: relative;
}
.boardItem:hover {
   transform: translateY(-8px);
}
.hideItem {
    display: none;
}
.boardItem:hover .hideItem {
    color : rgb(232, 66, 48);
    font-size : 28px;
    display: block;
    position: absolute;
    top: 1%;
    left: 1%;
    z-index: 3;
    cursor: pointer;
}

.itemWrap {
    width: 320px;
    height: 350px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 0.5) 0px 6px 12px;
}

.itemWrap div span {
    margin: 10px 0px 0 10px;
}

.itemPartA {
    height: 270px;
}
.itemPartA .boardThumbnail {
    position: relative;
    overflow: hidden;
}
.itemPartA .boardThumbnail .category {
    position: absolute;
    top: 0px;
    right: 10px;
    z-index: 3;
    font-size: 13px;
    font-weight: 600;
}
.itemPartA .boardThumbnail .category::after {
    content: "";
    display: block;
    position: absolute;
    width: 150px;
    height: 150px;
    top: -105px;
    right: -105px;
    z-index: -1;
    opacity: 0.8;
    /* background: red; */
    rotate: 45deg;
}
.category.default {
    display: none;
}
.category.tech::after {
    background-color: #8265c4;
}
.category.food::after {
    background-color: #c05a56;
}
.category.life::after {
    background-color: #c4af65;
}
.category.travel::after {
    background-color: #93c465;
}



.itemPartA .boardThumbnail img {
    display: block;
    height: 200px;
    width: 320px;
    object-fit: cover;
}
.itemPartA .boardTitle {
    display: block;
    padding: 0 0 5px 0;
    color: #333;
    font-size: 1.4rem;
    max-width: 260px;
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
}
.itemPartA .tagList {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    }
    
.itemPartA .tagList li {
    display: inline-block;
    background-color: #65c48e;
    padding: 2px 6px;
    margin-left: 8px;
    margin-bottom: 15px;
    border-radius: 6px;
    font-size: 1rem;
}

.itemPartB {
    margin: 5px 0 10px 0;
}

.itemPartB span {
    margin-right: 6px;
}

.itemPartB .innerText {
    margin-left: 4px;
    font-size: 1rem;
    font-weight: 500;
}

.itemPartC {
    border-top: 1px solid #ececec;
    width: 320px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 10px;
}
.itemPartC .userImg {
    height: 1.8rem;
    width: 1.8rem;
    line-height: 1.8rem;
    vertical-align: middle;
    margin-top: 6px;
    border: 0.15rem solid #fff;
    border-radius: 50%;
    object-fit: cover;
}
.itemPartC .nickName {
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
    margin-top: 10px;
    font-size: 1.1rem;
    line-height: 10px;
    font-weight: 500;
    color: #222;
}

.itemPartC .innerText {
    margin-left: 6px;
    font-size: 1.1rem;
    line-height: 10px;
    font-weight: 500;
    color: #222;
}


