* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul,
li {
    list-style: none;
}


body {
    background-color: #1d243d;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}
  

a {
    text-decoration: none;
}

#layoutWrap {
    height: 64px;
    width: 100%;
    z-index: 9;
}

#layoutWrap.scrolled {
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
    transition: all 1s ease-out;
    position: fixed;
    background-color: #FFF;
    top: 0px;
}

#layout {
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
}

#layout li:not(:first-of-type) {
    padding-left: 20px;
}

#layout #logo {
    margin-right: auto;
    display: flex;
    filter: invert(100%);
}

#logo a {
    font-size: 20px;
    color: #000;
}

#logo img {
    height: 32px;
}


#userMenu {
    display: flex;
    justify-content: center;
}

#userImg img {
    height: 2.5rem;
    width: 2.5rem;
    box-shadow: rgb(0 0 0 / 9%) 0px 0px 8px;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.125s ease-in 0s;
    cursor: pointer;
}



input[id="menu_icon"] {
    display: none;
  }
  
  input[id="menu_icon"] + label {
    position: relative;
    display: inline-block;
    margin-top: 5px;
    width: 32px;
    height: 28px;
    cursor: pointer;
  }
  
  input[id="menu_icon"] + label > span {
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background: rgb(220, 220, 220);
    transition: all 0.35s;
    z-index: 1;
  }
  
  input[id="menu_icon"] + label > span:nth-child(1) {
    top: 0px;
  }
  
  input[id="menu_icon"] + label > span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  
  input[id="menu_icon"] + label > span:nth-child(3) {
    bottom: 0px;
  }
  
  input[id="menu_icon"]:checked + label > span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  
  input[id="menu_icon"]:checked + label > span:nth-child(2) {
    opacity: 0;
  }
  
  input[id="menu_icon"]:checked + label > span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
  }


#userTab #userMenu {
    position: absolute;
    background: #FFF;
    width: 340px;
    height: 60px;
    border-radius: 4px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
    top: 70px;
    opacity: 0;
    right: 40px;
    transition: all 0.35s;
    z-index: -1;
}

#userTab #userMenu.clicked {
    z-index: 2;
    opacity: 1;
    right: 100px;   
    transition: all 0.35s;
}

#userTab ul {
    width: 340px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

#userMenu li {
    display: block;
    text-align: center;
    width: 70px;
    height: 64px;
    line-height: 64px;
    cursor: pointer;
}


#login button {
    margin-top: 3px;
    text-align: center;
    height: 32px;
    line-height: 32px;
    width: 82px;
    border-radius: 16px;
    border: none;
    background-color: #1f4d83;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
#login button a {
    color: #FFF;
}

#login button:hover {
    cursor: pointer;
    background-color: #2C74B3;
}

#write button {
    margin-top: 3px;
    text-align: center;
    height: 32px;
    line-height: 32px;
    width: 82px;
    border-radius: 16px;
    border: solid 1px #fff;
    background: none;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
#write button a {
    color: #FFF;
}

#write button:hover {
    cursor: pointer;
    background-color: #2C74B3;
    border: solid 1px #fff;
}
#write button:hover a {
    color: #FFF;
}






/* chat */
#chatToggle {
    height: 3.6rem;
    width: 3.6rem;
    box-shadow: rgb(0 0 0 / 50%) 0px 4px 8px;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.125s ease-in 0s;
    cursor: pointer;
    background-color: #f5c06b;
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 3;
}
#chatToggle button {
    height: 3.6rem;
    width: 3.6rem;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: #efefef;
    padding-top: 7px;
}
#chatToggle .messageAlert iconify-icon {
    height: 1.1rem;
    width: 1.1rem;
    border-radius: 50%;
    background-color: #e83c35;
    color:#fff;
    z-index: 4;
    position: absolute;
    font-size: 0.8rem;
    padding: 2px;
    top: 5%;
    right: 0;
}
#chatToggle:hover {
    height: 3.8rem;
    width: 3.8rem;
    background-color: #ffac26;
}

#chatterBox {
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 40vh;
    height: 55vh;
    max-height: 500px;
    position: absolute;
    bottom: 10%;
    right: 9%;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s;
    background: rgba(80, 80, 80, .5);
    box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
    overflow: hidden;
}
#chatterBox.clicked {
    opacity: 1;
    z-index: 3;
    transition: all 0.3s;
}
#chatFrm {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

#chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
  }
  
#chat .myMessage {
    background: linear-gradient(120deg, #248A52, #257287);
    border-radius: 10px 10px 0 10px;
    color: #fff;
    padding: 2%;
    max-width: 60%;
    align-self: flex-end;
    margin-bottom: 10px;
    position: relative;
  }

  
#chat .otherMessage {
    background: rgba(0, 0, 0, .3);
    border-radius: 10px 10px 10px 0;
    color: #fff;
    padding: 10px;
    max-width: 60%;
    align-self: flex-start;
    margin-bottom: 10px;
  }


#userList {
    width: 100%;
    max-height: 10%;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    font-size: 10px;
    color: #fff;
}
#userList #participant {
    font-size: 12px;
    color: #e9b35b;
}



#chatFrm {
    flex: 0 1 40px;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.inbox {
    color: #fff;
    border: none;
    background-color: rgba(243, 176, 72);
    font-size: 12px;
    text-transform: uppercase;
    padding: 4px 4px; 
    border-radius: 10px;
    /* outline: none!important; */
}   
.messageInput {
      background: none;
      border: none;
      outline: none!important;
      resize: none;
      color: rgba(255, 255, 255, .8);
      font-size: 12px;
      height: 17px;
      margin: 0;
      padding-right: 20px;
      width: 70%;
}
.messageInput:focus:-webkit-placeholder{
    color: transparent;
}
#chatFrm button {
      position: absolute;
      z-index: 1;
      top: 9px;
      right: 10px;
      color: #fff;
      border: none;
      background: #248A52;
      font-size: 12px;
      text-transform: uppercase;
      line-height: 1;
      padding: 6px 10px; 
      border-radius: 10px;
      outline: none!important;
}      
#chatFrm button:hover {
        background: #1D7745;
}
