* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul,
li {
    list-style: none;
}


a {
    text-decoration: none;
}

body {
    background-color: #c9dde4;
}


#signupWrap {
    background-color: #fff;
    width: 370px;
    height: 1000px;
    margin: 10vh auto;
    box-shadow: 0px 2px 16px rgba(0,0,0,0.2);
    border-radius: 6px;
}


#bannerText {
    text-align: center;
    margin: 20px;
}

#siginupFrm {
    width: 300px;
    margin: 0 auto;
}

.container {
    width: 300px;
    margin: 0 auto;
}

.container li > span {
    display: inline-block;
    width: 100%;
    height: 48px;
    border-radius: 4px;
    border: solid 1px rgb(220, 220, 220);
}

.container li > p {
    font-size: 12px;
    margin: 4px 0;
}
.container li > p:nth-child(1) {
    font-size: 16px;
}


#signupFrm input {
    width: 90%;
    height: 46px;
    border: transparent;
    outline: none;
    background: none;
    padding-left: 10px;
}
#signupFrm input::placeholder {
    font-size: 1rem;
    color: rgb(200, 200, 200);
}
#signupFrm input:focus, .inputContainer:focus {
    border: #2F8F9D;
    cursor: pointer;
}

#signupFrm button {
    width: 300px;
    height: 45px;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    background-color: #2F8F9D;
    color: #fff;
    margin-bottom: 16px;
    cursor: pointer;
}

#textBox {
    width: 300px;
    margin: 0 auto;
    font-size: 15px;
}

#textBox ul {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin: 16px 0 20px 0;
}

#textBox li:nth-child(1) {
    color: #2C74B3;
}

#textBox li:nth-child(2) > a {
    color: #666;
}


#textBox > p {
    text-align: center;
    color: #666;
}

#textBox > p > a {
    color: #2C74B3;
}