* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul,
li {
    list-style: none;
}


a {
    text-decoration: none;
}


#agreeFrm {
    text-align: center;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 800px;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    border: 4px solid rgb(35, 76, 166);
    z-index: 3;
    opacity: 1;
}
#agreeFrm.hide {
    opacity: 0;
    transition: opacity 2s;
    transition-delay: 0.5s;
}

#logo {
    border-radius: 12px 12px 0 0;
    width: 800px;
    height: 70px;
    background: url(https://cdn.dribbble.com/users/113499/screenshots/7146093/space-cat.png) no-repeat;
    background-color: rgb(35, 76, 166);
    background-size: 50%;
    background-position: right 40%;
}

#logo img {
    padding-top: 10px;
    height: 60px;
    filter: invert(100%);
}

.titleBox {
    text-align: left;
    width: 570px;
    padding-left: 20px;
    height: 40px;
    font-size: 1.2rem;
    margin: 30px auto 60px auto;
    border-bottom: 2px solid #ccc;
    /* box-shadow: 0px 20px 0px rgba(0, 0, 0, 0.2); */
}

.textBox {
    font-size: 18px;
    color: #666;
}

.checkBox {
    margin: 70px auto;
    height: 200px;
    width: 580px;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
}
.checkBox a {
    color: #1859b5;
}

[type=checkbox] {
    width: 1.2rem;
    height: 1.2rem;
    color: dodgerblue;
    vertical-align: middle;
    -webkit-appearance: none;
    background: none;
    border: 0;
    outline: 0;
    flex-grow: 0;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: background 300ms;
    cursor: pointer;
    margin-right: 6px;
}

[type=checkbox]::before {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
    box-shadow: inset 0 0 0 1px #CCD3D8;
}

[type=checkbox]:checked {
    background-color: currentcolor;
}

[type=checkbox]:checked::before {
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}
label {
    cursor: pointer;
    font-weight: 500;
}



#signupWrap {
    /* margin: 5vh 0; */
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 800px;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}

.leftContainer {
    width: 340px;
    background: linear-gradient(135deg, #4654d6, #8b4ca3);
    border-radius: 12px 0 0 12px;
}

#photoFrm {
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    ;
}

#photoFrm input {
    opacity: 0;
    width: 10px;
}

#photoFrm .choiceBtn {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 120px;
    height: 36px;
    border: 1px solid #FFF;
    border-radius: 12px;
    line-height: 36px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

#imageBox {
    margin: 16% 16% 6% 16%;
}

#previewImg {
    height: 14rem;
    width: 14rem;
    border-radius: 50%;
    object-fit: cover;
}

#bannerText {
    text-align: center;
    margin-top: 60px;
    font-size: 2rem;
    color: #fff;
}

#siginupFrm {
    width: 440px;
    margin: 0 auto;
}
.signupIcon {
    color: #7280f6;
    font-size: 3rem;
    text-align: center;
    padding-top: 40px;
}
.signupIcon + h3 {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
}


.container {
    width: 400px;
    /* height: 300px; */
    margin-right: 30px;
    /* padding-top: 100px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container .inputContainer {
    width: 180px;
    height: 48px;
    margin-top: 30px;
    border-bottom: solid 1px rgb(220, 220, 220);
    flex-basis: calc(50% - 10px);
}
.li_gender {
    width: 180px;
    height: 48px;
    margin-top: 30px;
    border-bottom: solid 1px rgb(220, 220, 220);
    position: relative;
}
.li_gender #gender {
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: rgb(180, 180, 180);
    font-size: 1rem;
}
.container .inputContainer.focused {
    box-shadow: 0 6px 3px -4px rgba(31, 33, 67, 0.5)
}


.container li>p {
    font-size: 9px;
    margin: 4px 0;
    position: absolute;
}

.container li>p:nth-child(1) {
    font-size: 16px;
}

.container li> div {
    position: relative;
}
.container iconify-icon {
    font-size: 1.15rem;
    top: 20px;
    right: 10px;
    position: absolute;
    color: #ccc;
}


#signupFrm input {
    width: 90%;
    height: 46px;
    border: transparent;
    outline: none;
    background: transparent;
    padding-left: 10px;
}

#signupFrm input::placeholder {
    font-size: 1rem;
    color: #bbb;
}

#signupFrm input:focus,
.inputContainer:focus {
    border: #2F8F9D;
    cursor: pointer;
}

#signupFrm button {
    margin: 40px;
    width: 120px;
    height: 45px;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    background-color: #5161f4;
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 10px;
}
#signupFrm button iconify-icon {
    font-size: 1.2rem;
    padding-left: 10px;
    height: 16px;
}
#signupFrm button:hover {
    background-color: #212fa9;
    transition: all 0.3s ease-out;
}

#textBox {
    width: 300px;
    margin: 0 auto;
    font-size: 15px;
}

#textBox ul {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin: 16px 0 20px 0;
}

#textBox li:nth-child(1) {
    color: #2C74B3;
}

#textBox li:nth-child(2)>a {
    color: #666;
}


#textBox>p {
    text-align: center;
    color: #666;
}

#textBox>p>a {
    color: #2C74B3;
}

