* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul,
li {
    list-style: none;
}


a {
    text-decoration: none;
}




#signinWrap {
    position: absolute;
    background-color: #fff;
    width: 370px;
    height: 660px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 20px rgba(0,0,0,0.7);
    border-radius: 6px;
}

#imageBox {
    width: 370px;
    height: 200px;
    border-radius: 6px 6px 0 0;
    background: url(https://cdn.dribbble.com/users/113499/screenshots/7146093/space-cat.png) no-repeat;
    background-color: rgb(35, 76, 166);
    background-size: 80%;
    background-position: center 70%;
}

#bannerText {
    text-align: center;
    margin: 20px;
}

#loginFrm {
    width: 300px;
    margin: 0 auto;
}

.inputContainer {
    width: 100%;
    height: 48px;
    border-radius: 4px;
    border: solid 1px rgb(220, 220, 220);
    margin-bottom: 16px;
    position: relative;
    background: #f5f4f4;
}
.inputContainer.focused {
    border: none;
    box-shadow: 0 0 4px #00337C;
    animation: pulse 1.5s infinite;
}
@keyframes pulse {
    0% {
      box-shadow: 0 0 4px #00337C;
    }
    50% {
      box-shadow: 0 0 8px #00337C;
    }
    100% {
      box-shadow: 0 0 4px #00337C;
    }
  }

  .inputContainer iconify-icon {
    font-size: 1.15rem;
    top: 15px;
    right: 15px;
    position: absolute;
    color: #999;
}



#loginFrm input {
    width: 90%;
    height: 46px;
    border: transparent;
    outline: none;
    background: transparent;
    padding-left: 10px;
}
#loginFrm input::placeholder {
    font-size: 1rem;
    color: rgb(200, 200, 200);
}


#loginFrm button {
    width: 100%;
    height: 45px;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    background-color: rgb(50, 97, 198);
    color: #fff;
    margin-bottom: 16px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
#loginFrm button:hover {
    background-color: #00337C;
    transition: all 0.3s ease-out;
}

#textBox {
    width: 300px;
    margin: 0 auto;
    font-size: 15px;
}

#textBox ul {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin: 16px 0 20px 0;
}

#textBox li:nth-child(1) {
    color: #2C74B3;
}

#textBox li:nth-child(2) > a {
    color: #666;
}


#textBox > p {
    text-align: center;
    color: #666;
}

#textBox > p > a {
    color: #2C74B3;
}



[type=checkbox] {
    width: 1rem;
    height: 1rem;
    color: dodgerblue;
    vertical-align: middle;
    -webkit-appearance: none;
    background: none;
    border: 0;
    outline: 0;
    flex-grow: 0;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: background 300ms;
    cursor: pointer;
    margin-right: 3px;
}

[type=checkbox]::before {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
    box-shadow: inset 0 0 0 1px #CCD3D8;
}

[type=checkbox]:checked {
    background-color: currentcolor;
}

[type=checkbox]:checked::before {
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}
label {
    cursor: pointer;
}




#findUser {
    position: absolute;
    background-color: #fff;
    width: 430px;
    height: 430px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 20px rgba(0,0,0,0.7);
    border-radius: 6px;
    z-index: -2;
    opacity: 0;
}

#findUser.switchOn {
    z-index: 2;
    opacity: 1;
}

.tabHeadLine {
    border-radius: 6px 6px 0 0;
    width: 100%;
    height: 50px;
    background: url(https://cdn.dribbble.com/users/113499/screenshots/7146093/space-cat.png) no-repeat;
    background-color: rgb(35, 76, 166);
    background-size: 45%;
    background-position: right 35%;
}
.switchType {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    margin-bottom: 5%;
    color: #333;
    cursor: pointer;
}
.switchType li:first-child {
    width: 50%;
    height: 55px;
    background-color: #ececec;
    border-right: 1px solid #ececec;
    border-radius: 8px 8px 0 0;
    text-align: center;
}
.switchType li:last-child {
    width: 50%;
    height: 55px;
        background-color: #ececec;
    border-left: 1px solid #ececec;
    border-radius: 8px 8px 0 0;
    text-align: center;
}


#findId form, #findPw form {
    padding: 0 15%;
    text-align: center;
    display: none;
}
#findId form.switchOn, #findPw form.switchOn {
    display: block;
}
.switchType li.switchOn {
    background-color: #fff;
}
.switchType li:not(.switchOn) {
    background-color: #ececec;
}

#findId form span, #findPw form span {
    display: block;
    margin: 3% 0;
    font-size: 12px;
    color: #333;
}
#findId input, #findPw input {
    width: 90%;
    height: 46px;
    border: transparent;
    outline: none;
    background: transparent;
    padding-left: 10px;
}
input::placeholder {
    font-size: 1rem;
    color: rgb(200, 200, 200);
}
#findId button, #findPw button {
    width: 100%;
    height: 45px;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    background-color: rgb(50, 97, 198);
    color: #fff;
    margin-bottom: 16px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
#findUser .result {
    opacity: 0;
    font-size: 12px;
    transition: all 0.3s ease-out;
}
#findUser .result span {
    font-size: 16px;
    color:rgb(50, 97, 198);
}