{% extends 'layout/layout.html' %}
{% block content %}
<link rel="stylesheet" href="/css/profile.css">

<div id="profileWrap">
    <div class="topContainer">
        <div id="imageBox">
            <img id="previewImg" src='{{userImg}}' alt="">
        </div>
        <form method="post" action="/single" id="photoFrm">
          <input type="file" name="filename" id="fileChoice">
          <label for="fileChoice" class="choiceBtn">프로필 사진 변경</label>
          <button type="submit" style="display: none;">등록</button>
      </form>
    </div>
    <div class="bottomContainer">
        <form method="post" action="/user/modify" id="profileFrm">
            <ul class="container">
                <input type="hidden" name="userid" id="userid" value="{{userid}}">
                <input type="hidden" name="userImg" id="inputImg" value="{{userImg}}">
                <li id="nicknameBox">
                    <div class="inputContainer">
                        <span><iconify-icon icon="mdi:account-tag"></iconify-icon></span>
                        <input type="text" id="nickname" name="nickname" value="{{nickname}}">
                    </div>
                    <p class="alertMessage" style="opacity: 0; color: red">
                      특수문자를 제외하여 두 글자 이상으로 입력해주세요
                    </p>
                </li>
                <li>
                  <div class="inputContainer">
                    <span><iconify-icon icon="mdi:password"></iconify-icon></span>
                    <input type="password" name="userpw" id="userpw" placeholder="비밀번호" maxlength="16"/>
                  </div>
                  <p class="alertMessage" style="opacity: 0; color: red">
                    영문, 숫자, 특수문자를 모두 혼합하여 8자 이상으로 써주세요
                  </p>
                </li>
                <li>
                    <div class="inputContainer">
                      <span><iconify-icon icon="mdi:password-check"></iconify-icon></span>
                      <input type="password" id="pwcheck" placeholder="비밀번호 확인" maxlength="16">
                    </div>
                    <p class="alertMessage" style="opacity: 0; color: red">비밀번호가 일치하지 않습니다</p>
                </li>
                <li id="phoneNumberBox">
                    <div class="inputContainer">
                        <span><iconify-icon icon="material-symbols:phone-android-rounded"></iconify-icon></span>
                        <input type="text" id="phoneNumber" name="phoneNumber" value="{{phoneNumber}}">
                    </div>
                    <p class="alertMessage" style="opacity: 0; color: red">
                      "-"를 제외한 11자리의 숫자로 입력해주세요
                    </p>
                </li>
                <li id="emailBox">
                    <div class="inputContainer">
                        <span><iconify-icon icon="ic:round-email"></iconify-icon></span>
                        <input type="text" id="email" name="email" value="{{email}}">
                        <p class="alertMessage" style="opacity: 0; color: red">
                          이메일 형식에 맞게 입력해주세요
                        </p>
                    </div>
                </li>
            </ul>
            <div id="btnBox">
                <button class="button" type="submit">수정완료</a></button>
                <button class="button" type="button"><a href="/user/profile">뒤로가기</a></button>
            </div>    
        </form>
    </div>
</div>
<script type="module" src="/js/module/user/signup.js"></script>
{% endblock%}