{% extends 'layout/layout.html' %}
{% block content %}
<link rel="stylesheet" href="/css/profile.css">

<div id="profileWrap">
    <div class="topContainer">
        <div id="imageBox">
            <img id="previewImg" src='{{userImg}}' alt="">
        </div>
    </div>
    <div class="bottomContainer">
        <h2 id="bannerText">{{userid}}</h2>
        <form method="post" action="/user/signup" id="profileFrm">
            <ul class="container">
                <input type="hidden" name="userImg" id="inputImg">
                <li id="nicknameBox">
                    <div class="inputContainer">
                        <span><iconify-icon icon="mdi:account-tag"></iconify-icon></span>
                        <input type="text" id="nickname"  value="{{nickname}}" readonly>
                    </div>
                </li>
                <li id="usernameBox">
                    <div class="inputContainer">
                        <span><iconify-icon icon="mdi:account-edit"></iconify-icon></span>
                        <input type="text" id="username"  value="{{username}}" readonly>
                    </div>
                </li>
                <li id="phoneNumberBox">
                    <div class="inputContainer">
                        <span><iconify-icon icon="material-symbols:phone-android-rounded"></iconify-icon></span>
                        <input type="text" id="phoneNumber"  value="{{phoneNumber}}" readonly>
                    </div>
                </li>
                <li id="emailBox">
                    <div class="inputContainer">
                        <span><iconify-icon icon="ic:round-email"></iconify-icon></span>
                        <input type="text" id="email"  value="{{email}}" readonly>
                    </div>
                </li>
            </ul>
            <ul id="userChart">
                <li>
                    <iconify-icon icon="mdi:cards-heart-outline"></iconify-icon>
                    <!-- <span>{{liked.length}}</span> -->
                    <span>0</span>
                </li>
                <li>
                    <iconify-icon icon="uil:comment-plus"></iconify-icon>
                    <!-- <span>{{comment.length}}</span> -->
                    <span>0</span>
                </li>
                <li>
                    <iconify-icon icon="mdi:comment-eye-outline"></iconify-icon>
                    <!-- <span>{{hit}}</span> -->
                    <span>0</span>
                </li>
            </ul>
            <div id="btnBox">
                <button class="button" type="button"><a href="/user/modify">회원정보 수정</a></button>
                <button class="button" type="submit">회원탈퇴</a></button>
            </div>    
        </form>
    </div>
</div>

{% endblock%}