{% extends 'layout/layout-alter.html' %}
{% block content %}
<link rel="stylesheet" href="/css/signin.css">

<body id="particles-js">
    <div id="signinWrap">
        <div id="imageBox"></div>
        <div id="signinBox">
            <form action="" name="login" id="loginFrm">
                <h2 id="bannerText">Login</h2>
                <div class="inputContainer">
                    <input type="text" name="userid" id="userid" placeholder="아이디를 입력해주세요">
                    <iconify-icon icon="mdi:account"></iconify-icon>
                </div>
                <div class="inputContainer">
                    <input type="password" name="userpw" id="userpw" placeholder="패스워드를 입력해주세요">
                    <iconify-icon icon="mdi:password"></iconify-icon>
                </div>
                <button type="submit" class="button" style="margin-top: 20px;">Sign In</button>
                <a href="/kakao/login" id="kakaoLogin"><img src="https://i.ibb.co/bQJJ1jH/kakao-login-medium-wide.png" alt=""></a>
            </form>
            <div id="textBox">
                <ul>
                    <li><input type="checkbox" id="rememberMe"><label for="rememberMe"> Remember Me</label></li>
                    <li><a href="#">비밀번호 찾기</a></li>
                </ul>
                <p>아직 회원이 아니신가요? <a href="/user/signup">회원가입</a></p>
            </div>
        </div>
    </div>

    <script type="module" src="/js/module/user/signin.js"></script>
    
{% endblock%}