<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/css/error.css" />
    </head>
    <body>
        <div id="wrap">
            <div id="messageWrap">
                <h1 id="stauts">{{error.status}}</h1>
                <div id="img">
                    <img src="https://miro.medium.com/v2/resize:fit:1382/format:webp/1*W6sDVrsrLBYHP881a8COQA.jpeg" alt="" />
                </div>

                <div id="message">{{error.message}}</div>
            </div>
        </div>
    </body>
</html>

