<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <style>
        .right {
            text-align: right;
        }
    </style>
</head>
<body>
    <div>
        <div>현재 참가자 <span id="userCount"></span>명</div>
        <div id="participant"></div>
    </div>
    <form action="" id='frm'>
        <span>To:</span>
        <select id="toUser" class="inbox" name="gender">
            <option value="default" checked>모두</option>
        </select>
        <input type="text" name="message">
        <button type="submit">submit</button>
    </form>

    <ul id="chat">

    </ul>
    <script type="text/javascript">
        const socket = io.connect('http://localhost:3000',{
            path:'/socket.io',
            transports:['websocket']
        })


        // User 명단 List 받기
        socket.on('users',(data)=>{
            console.log(data)
            const userList = document.querySelector('#participant')
            const userCount = document.querySelector('#userCount')
            const toUser = document.querySelector('#toUser')
            userList.innerHTML = ''

            // 채팅 참여자 명단, 대화 대상 select 생성
            data.participant.forEach((nickname)=>{
                const user = document.createElement('p')
                const to = document.createElement('option')
                user.innerHTML = nickname
                userList.append(user)
            
                if ( nickname !== data.nickname ){
                    to.value = 'nickname'
                    to.text = nickname
                    toUser.append(to)
                }
                
            })
            userCount.innerHTML = data.participant.length

        })


        /* 채팅 대답 */
        socket.on('reply', (data)=>{
            const response = JSON.parse(data)
            const li = document.createElement('li')
            li.innerHTML = response.message
            chat.append(li)
        })


        // 채팅 보내기
        const frm = document.querySelector('#frm')
        frm.addEventListener('submit',(e)=>{
            e.preventDefault()

            const {message} = e.target

            socket.emit('message', message.value)
            const li = document.createElement('li')
            li.classList.add('right')
            li.innerHTML = message.value
            chat.append(li)

            frm.reset()


        })
    </script>
</body>
</html>