{% extends "layout/layout.html" %}{% block content %}
<link rel="stylesheet" href="/css/board/main.css" />


<div id="wrap">
    <div id="subContainer">
    </div>

    <div id="blogWrap">
        <div id="mainContainer">
            <ul id="myList">
                {% for item in list %}
                <li class="boardItem">
                    <div class="itemWrap">
                        <div class="itemPartA">
                            <div class="boardThumbnail">
                                <a href="/board/{{item.nickname}}/{{item.id}}">
                                    <img src='{{item.image}}' alt="" loading="lazy">
                                </a>
                            </div>
                        </div>
                        <div class="itemPartB">
                            <div class="textBoxA">
                                <a href="/board/{{item.nickname}}/{{item.id}}"><span
                                        class="boardTitle">{{item.subject}}</span></a>
                                <span class="category">{{item.category}}</span>
                            </div>
                            <div class="textBoxB">
                                <span class="prevContent">{{item.introduce}}</span>
                            </div>
                            <div class="textBoxC">
                                <span class="timeStamp" style="color: #999; font-size: 0.9em; "><iconify-icon
                                        icon="ic:baseline-access-time-filled"></iconify-icon><span
                                        class="innerText">{{item.createdAt.slice(0,-5).split('T').join(".").split(':').join(".")}}</span></span>
                                <span class="hitCount" style="color: #999; font-size: 0.9em; "><iconify-icon
                                        icon="ic:baseline-remove-red-eye"></iconify-icon><span
                                        class="innerText">{{item.hit}}</span></span>
                                <span class="commentCount" style="color: #999; font-size: 0.9em; "><iconify-icon
                                        icon="mdi:message-processing"></iconify-icon><span
                                        class="innerText">{{item.commentCount}}</span></span>
                                <span class="hitCount" style="color: #999; font-size: 0.9em; ">
                                    <iconify-icon icon="ion:heart"></iconify-icon>
                                    <span class="innerText">{{item.likeCount}}</span>
                                </span>
                            </div>
                            <div class="textBoxD">
                                {% if item.tagname %}
                                <ul class="tagList">
                                    {% for tag in item.tagname.split(',').slice(0,3) %}
                                    <li>{{ tag }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<script type="module" src="/js/lib/timestamp.js"></script>
<script>
    const category = document.querySelectorAll(".category");
    for (item of category) {
        item.className = `category ${item.innerHTML}`
    }

    // 태그 추출
    const text = document.querySelector("#hashtag > p").innerHTML
    const tags = text.match(/#\w+/g)

    const ul = document.querySelector("#hashtag  ul");
    tags.forEach(tag => {
        const li = document.createElement("li");
        li.innerHTML = tag;
        ul.appendChild(li);
    });


    // const tagCount = {};
    // tags.forEach(tag => tagCount[tag] = (tagCount[tag] || 0) + 1);

    // const result = Object.keys(tagCount).map(tag => tagCount[tag] > 1 ? `${tag}(${tagCount[tag]})` : tag);
</script>


{% endblock %}