{% extends "layout/layout.html" %}{% block content %}
<link rel="stylesheet" href="/css/board/main.css" />

<div id="wrap">
    <div id="blogWrap">
        <div id="subContainer">
            <div id="category">
                <ul>
                    {% for item in list %}
                    <li>{{item.category}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div id="hashTag"></div>
        </div>
        <div id="mainContainer">
            <div id="profile">
                <div id="writerImg">
                    <img src="{{list[0].userImg}}" alt="" />
                </div>
                <div id="writerInfo">
                    <p id="pWriter">{{list[0].nickname}}.LOG</p>
                </div>
            </div>
            <div id="prevBoard">
                <ul id="myList">
                    {% for item in list %}
                    <li class="boardItem">
                        <div class="itemWrap">
                            <div class="itemPartA">
                                <div class="boardThumbnail">
                                    <a href="/board/{{item.nickname}}/{{item.id}}">
                                        <img src='{{item.image}}' alt="" loading="lazy">
                                        <span class="boardTitle">{{item.subject}}</span>
                                    </a>
                                </div>
                                <span class="prevContent">{{item.introduce}}</span>
                            </div>
                            <div class="itemPartB">
                                {% if item.tagname %}
                                <ul class="tagList">
                                    {% for tag in item.tagname.split(',').slice(0,3) %}
                                    <li>{{ tag }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                            <div class="itemPartC">
                                <span class="timeStamp" style="color: #999; font-size: 0.9em; "><iconify-icon
                                        icon="ic:baseline-access-time-filled"></iconify-icon><span
                                        class="innerText">{{item.createdAt.slice(0,-5).split('T').join(".").split(':').join(".")}}</span></span>
                                <span class="hitCount" style="color: #999; font-size: 0.9em; "><iconify-icon
                                        icon="ic:baseline-remove-red-eye"></iconify-icon><span
                                        class="innerText">{{item.hit}}</span></span>
                                <span class="commentCount" style="color: #999; font-size: 0.9em; "><iconify-icon
                                        icon="mdi:message-processing"></iconify-icon><span
                                        class="innerText">{{item.commentCount}}</span></span>
                                <span class="hitCount" style="color: #999; font-size: 0.9em; ">
                                    <iconify-icon icon="ion:heart"></iconify-icon>
                                    <span class="innerText">{{item.likeCount}}</span>
                                </span>        
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="module" src="/js/lib/timestamp.js"></script>
{% endblock %}