{% extends "layout/layout.html" %}{% block content %}
<script src="https://cdn.jsdelivr.net/npm/marked@3.0.7/marked.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/he@1.2.0/he.min.js"></script>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
<link rel="stylesheet" href="/css/board/view.css" />
<input type="hidden" name="nowme" id="nowme" value="{{user.userid}}" />
<div id="wrap">
    <div id="likes">
        <div class="img">
            <iconify-icon class="like" icon="mdi:cards-heart"></iconify-icon>
        </div>
        <p>{{data.likeCount}}</p>
        <input type="hidden" class="likewho" value="{{data.likeidlist}}" />
    </div>
    <div id="viewwrap">
        <div id="board">
            <div id="boardSubject">
                <h2>{{data.subject}}</h2>
                <span class="category">{{data.category}}</span>
            </div>
            <div id="boardInfo">
                <ul>
                    <li>
                        <span><iconify-icon icon="fa-solid:user-edit"
                                style="margin-right: 5px"></iconify-icon></span><span id="userid">{{data.userid}}</span>
                        <span class="timeStamp"><iconify-icon icon="ic:baseline-access-time-filled"
                                style="margin-right: 3px"></iconify-icon><span
                                class="innerText">{{data.createdAt.slice(0,-5).split('T').join(".").split(':').join(".")}}</span></span>
                    </li>
                    <li>
                        <span class="clip" style="color: #000; font-size: 16px; cursor:pointer;"><iconify-icon
                                icon="el:paper-clip"></iconify-icon><input type="hidden" class="urlCopy"></span>
                        <div id="clipMessage">링크가 복사되었습니다</div>
                        {% if user.userid === data.userid %}
                        <span><a href="/board/{{user.userid}}/{{data.id}}/modify">수정</a></span>
                        <span class="delete"><a href="/board/{{user.userid}}/{{data.id}}/delete">삭제</a></span>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <div id="hashs">{{data.tagname}}</div>
            <div id="contents">
                <div id="boardcontent">
                </div>
            </div>
            <div id="profile">
                <div id="img">
                    <a href="http://localhost:3005/board/{{data.userid}}"><img src="{{data.userImg}}" alt="" /></a>
                </div>
                <div id="writerInfo">
                    <p id="pblog"><a href="http://localhost:3005/board/{{data.userid}}">{{data.nickname}}</a></p>
                    <p id="pIntroduce">{{data.introduce}}</p>
                </div>
            </div>
        </div>
        <div class="btnBox">
            {% if data.prevPost %}
            <a href="http://localhost:3005/board/{{ data.prevPost.userid }}/{{ data.prevPost.id }}">
                <iconify-icon icon="carbon:previous-outline"></iconify-icon>
                <div>
                    <span>이전 포스트</span>
                    <div>{{ data.prevPost.subject }}</div>
                </div>
            </a>
            {% endif %}
            {% if data.nextPost %}
            <a href="http://localhost:3005/board/{{ data.nextPost.userid }}/{{ data.nextPost.id }}">
                <div>
                    <span>다음 포스트</span>
                    <div>{{ data.nextPost.subject }}</div>
                </div>
                <iconify-icon icon="carbon:next-outline"></iconify-icon>
            </a>
            {% endif %}
        </div>
        <div id="commentsWrap">
            <div id="comments">
                <div id="total">
                    <h3>{{data.commentCount}} 개의 댓글이 있습니다</h3>
                </div>
                <form method="post" action="" id="commentfrm">
                    <div id="commentFrmInput">
                        <input type="hidden" name="parentid" />
                        <input type="text" name="comment" id="comment" placeholder="댓글을 입력해주세요" />
                    </div>
                    <button type="submit">댓글 등록</button>
                </form>
                <div id="temp">
                    <ul>
                        {% for item in comment %} {% if item.depth === 0 %}
                        <li id="commentContent" data-index="{{item.id}}">
                            <div class="writeData">
                                <span id="userimg">
                                    <a href="http://localhost:3005/board/{{item.userid}}"><img src="{{item.userimg}}"
                                            alt="" /></a>
                                </span>
                                <div>
                                    <span id="commentUser" class="writer"><a
                                            href="http://localhost:3005/board/{{item.userid}}">{{item.userid}}</a></span>
                                    <span class="timeStamp" style="color: #999; font-size: 0.9em">
                                        <span id="commentDate"
                                            class="innerText writer">{{item.createdAt.slice(0,-5).split('T').join(".").split(':').join(".")}}</span>
                                    </span>
                                </div>
                            </div>
                            <input type="text" class="commentContent" value="{{item.content}}" disabled />
                            <div id="btns">
                                <button id="commentRecomment" class="commentBtn"><iconify-icon icon="mdi:comment-plus"
                                        style="margin-right: 4px"></iconify-icon>답글</button>
                                {% if item.userid === user.userid %}
                                <button id="updateBtn" class="commentBtn"><iconify-icon icon="mdi:comment-edit"
                                        style="margin-right: 4px"></iconify-icon>수정</button>
                                <button id="deleteBtn" class="commentBtn"><iconify-icon icon="mdi:comment-remove"
                                        style="margin-right: 4px"></iconify-icon> 삭제</button>
                                {% endif %}
                            </div>
                            <div id="recommentBox">
                                <input type="hidden" value="{{item.PATH}}" id="parentId">
                                <span id="openRecomment">답글 열기</span>
                            </div>
                        </li>
                        {% else %}
                        <li id="commentContent" class="child" data-index="{{item.id}}">
                            <input type="hidden" value="{{item.PATH}}" id="parentId">
                            <div class="writeData">
                                <span id="userimg">
                                    <a href="http://localhost:3005/board/{{item.userid}}"><img src="{{item.userimg}}"
                                            alt="" /></a>
                                </span>
                                <div>
                                    <span id="commentUser" class="writer"><a
                                            href="http://localhost:3005/board/{{item.userid}}">{{item.userid}}</a></span>
                                    <span class="timeStamp" style="color: #999; font-size: 0.9em">
                                        <span id="commentDate"
                                            class="innerText writer">{{item.createdAt.slice(0,-5).split('T').join(".").split(':').join(".")}}</span>
                                    </span>
                                </div>
                            </div>
                            <input type="text" class="commentContent" value="{{item.content}}" disabled />
                            <div id="btns">
                                {% if item.userid === user.userid %}
                                <button id="updateBtn" class="commentBtn"><iconify-icon icon="mdi:comment-edit"
                                        style="margin-right: 4px"></iconify-icon> 수정</button>
                                <button id="deleteBtn" class="commentBtn"><iconify-icon icon="mdi:comment-remove"
                                        style="margin-right: 4px"></iconify-icon> 삭제</button>
                                {% endif %}
                            </div>
                        </li>
                        {% endif %} {% endfor %}
                    </ul>
                </div>
                <template id="commentList">
                    <ul>
                        <li id="commentContent">{{content}}1</li>
                        <li id="commentWriter">{{writer}}2</li>
                        <li id="commentDate">{{regesterdate}}3</li>
                        <span id="commentRecomment">댓글달기</span>
                    </ul>
                </template>
                <template id="comentBtns">
                    <span id="commentRe">수정</span>
                    <span id="commentDelete">삭제</span>
                </template>
            </div>
        </div>
        <div id="empty"></div>
    </div>
    <div id="sideComponent">
        <div id="headerList"></div>
    </div>
</div>

<script>
    // toast UI
    const Editor = toastui.Editor;
    const editor = new Editor({
        el: document.querySelector("#boardcontent"),
        minHeight: "450px",
        height: "auto",
        initialEditType: "markdown",
        previewStyle: "horizontal",
    });

    const editor2 = new Editor({
        el: document.querySelector("#headerList"),
        minHeight: "500px",
        height: "auto",
        initialEditType: "markdown",
        previewStyle: "horizontal",
    });

    const mdViewer = document.querySelector(".toastui-editor-md-preview");
    const mdContent = document.querySelector(".toastui-editor-contents");
    mdContent.style.width = "100%";
    mdViewer.style.background = "#fff";
    document.querySelector(".ProseMirror").innerHTML = he.decode("{{data.content}}");
    document.querySelector("#headerList .ProseMirror").innerHTML = he.decode("{{data.content}}");

    const sideComponent = document.querySelector('#sideComponent');
    const likes = document.querySelector('#likes');

    window.addEventListener('scroll', () => {
    sideComponent.style.top = `${window.pageYOffset + window.innerHeight * 0.3}px`;
    likes.style.top = `${window.pageYOffset + window.innerHeight * 0.3}px`;
    });


    const category = document.querySelectorAll(".category");
    for (item of category) {
        item.className = `category ${item.innerHTML}`;
    }

</script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="module" src="/js/lib/request.js"></script>
<script type="module" src="/js/lib/timestamp.js"></script>
<script type="module" src="/js/module/board/view.js"></script>
{% endblock %}