{% extends "layout/layout-alter.html" %}{% block content %}
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
<link rel="stylesheet" href="/css/board/board.css" />
<body>
    <div id="boardwrap">
        <div id="insert">
            <input type="hidden" value={{userid}} id="userid">
            <div id="tempMessage">포스트가 임시저장되었습니다</div>
            <form id="frm" method="post" action="/board">
                <ul id="board">
                    <li>
                        <input type="text" name="subject" id="subject" placeholder="제목을 입력해주세요" />
                    </li>
                    <li id="hash"></li>
                    <li class="createHash">
                        <input type="text" name="hashtag" id="hashtag" placeholder="태그를 입력해주세요" />
                    </li>
                    <li id="imgfile" class="imgs">
                        <label for="upload1">
                            <iconify-icon icon="iconoir:add-media-image" style="font-size: 1.6rem; color: #666"></iconify-icon>
                        </label>
                        <input type="file" name="upload1" id="upload1" class="imgs" />
                        <input type="submit" id="inputimg" />
                    </li>
                    <li>
                        <div id="content"></div>
                        <textarea name="content" id="content" class="contentText" cols="10" rows="10"></textarea>
                    </li>
                </ul>
                <div id="btns">
                    <button id="back" class="btns"><a href="/">← 나가기</a></button>
                    <button id="temporarily" class="btns" type="submit">임시저장</button>
                    <button id="submitBtn" class="btns" type="button">등록하기</button>
                </div>
                <div id="previewWrap">
                    <div class="bannerText">
                        <p>포스트 미리보기</p>
                    </div>
                    <div class="itemPartA">
                        <p>카테고리 선택</p>
                        <div id="categoryBox">
                            <select id="category" class="sortSwitch" name="category">
                                <option value="default">없음</option>
                                <option value="tech">기술</option>
                                <option value="food">음식</option>
                                <option value="travel">여행</option>
                                <option value="life">일상</option>
                            </select>
                        </div>
                    </div>
                    <div class="itemPartB"> 
                        <div id="thumbnail">
                            <p>썸네일 미리보기</p>
                        </div>
                    </div>
                    <div class="itemPartC">
                        <div id="introduce"><textarea name="introduce" class="introText" cols="10" rows="10" placeholder="당신의 글을 소개해주세요"></textarea></div>
                    </div>    
                    <div class="itemPartD">
                        <button id="cancelBtn" class="btns">등록 취소</button>
                        <button id="insertBtn" class="btns" type="submit">등록 완료</button>
                    </div>    
                </div>
            </form>
        </div>
        <div id="preview">
            <div id="text"></div>
            <div id="img"></div>
        </div>
    </div>
    <script>
        document.querySelector(".contentText").style.display = "none";
        document.querySelector("#preview").style.display = "none";
        const Editor = toastui.Editor;
        const editor = new Editor({
            el: document.querySelector("#content"),
            height: "50vh",
            initialEditType: "markdown",
            previewStyle: "vertical",
        });
        document.querySelector(".toastui-editor-toolbar-icons.image").style.display = "none";
        document.querySelector(".toastui-editor-mode-switch").style.display = "none";
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="/js/lib/request.js"></script>
    <script type="module" src="/js/module/board/board.js"></script>
</body>
{% endblock %}

