<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../../public/css/board/write.css" />
    </head>

    <body>
        <form action="">
            <ul>
                <li>
                    <input type="text" name="subject" id="subject" placeholder="제목을 입력해주세요" />
                </li>
                <li>
                    <input type="text" name="hashtag" id="hashtag" placeholder="태그를 입력해주세요" />
                </li>
                <li>
                    <input type="file" name="imgfile" id="" />
                </li>
                <li>
                    <textarea name="content" id="content" cols="30" rows="10"></textarea>
                </li>
            </ul>

            <button>←나가기</button>
            <button>등록하기</button>
        </form>
    </body>
</html>

