* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #FFF;
}

input {
    border: none;
    outline: none;
}

#boardwrap {
    width: 75vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#board {
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 3%;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.7);
}

#board > li {
    padding: 5px 0;
}

#board > li > #subject {
    padding: 5px 10px;
    width: 50%;
    height: 50px;
    font-size: 30px;
    box-sizing: border-box;
    border-bottom: 3px solid #ececec;
}
#board > li > #hashtag {
    padding: 5px 10px;
    width: 90%;
    height: 20px;
    font-size: 14px;
    box-sizing: border-box;
}
::placeholder {
    color: #bbb;
}

#board > #imgfile {
    padding: 5px 10px;
    width: 90%;
}

#board > #imgfile > .imgs {
    display: none;
}

#board > #imgfile > #inputimg {
    float: right;
    width: 40px;
    height: 40px;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    color: black;
    cursor: pointer;
}

#board > #imgfile > label > .labelimg {
    width: 40px;
    height: 40px;
}

#board > li > #content {
    padding: 5px 10px;
    width: 100%;
    height: 360px;
    resize: none;
    background: none;
    border: none;
    box-sizing: border-box;
}

.pre {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    resize: none;
    background: none;
    border: none;
}

#btns {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#btns > .btns {
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    width: 100px;
    height: 36px;
    box-sizing: border-box;
    border: none;
}

#btns > #back {
    background-color: #8437e4;
    border-radius: 8px;
    cursor: pointer;
}

#btns > #temporarily {
    margin-left: 70%;
    background-color: #33a166;
    border-radius: 8px;
    cursor: pointer;
}

#btns > #submitBtn {
    background-color: #2a60f4;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 10px;
}

#hash > .hashtags {
    display: inline-block;
    width: auto;
    height: 20px;
    font-size: 14px;
    background-color: #34c789;
    border-radius: 7px;
    padding: 4px;
    margin: 2px 2px;
    cursor: pointer;
    position: relative;
}
#hash > .hashtags:hover::after {
    content: "x";
    display: inline-block;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 12px;
    background-color: #e15241;
    color: #fff;
    z-index: 2;
    top: -15%;
    right: -15%;
    border-radius: 50%;
    position: absolute;
}


#previewWrap {
    height: 460px;
    width: 500px;
    border-radius: 16px;
    background-color: #eee;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -3;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    overflow: hidden;
}
#previewWrap.on {
    z-index: 3;
    opacity: 1;
    transition: all 0.4s ease-in-out;
}
form.on::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    z-index: 2;
}



#previewWrap > .bannerText {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: url(https://cdn.dribbble.com/users/113499/screenshots/7146093/space-cat.png) no-repeat;
    background-color: rgb(35, 76, 166);
    background-size: 40%;
    background-position: right 30%;
    color: #fff;
    font-size: 20px;
}

#previewWrap .itemPartA {
    width: 200px;
    height: 160px;
    position: relative;
    padding-top: 20px;
}
#categoryBox {
    width: 96px;
    height: 32px;
    color: #4b78ea;
    font-size: 1.1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#categoryBox::after {
    content: "▾";
    position: absolute;
    top: 0px;
    right: 8px;
}

.sortSwitch {    
    background: rgb(216, 216, 216);
    color: #333;
    padding-left: 10px;
    border: none;
    outline: none;
    width: 96px;
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
}

#previewWrap .itemPartB {
    width: 200px;
    height: 160px;
    padding-top: 20px;
}
#previewWrap .itemPartB #thumbnail > p {
    padding-bottom: 10px;
}
.previewimg {
    width: 160px;
    height: 100px;
    border-radius: 4px;
    object-fit: cover;
}



#previewWrap .itemPartC {
    width: 400px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#introduce textarea {
    height: 100px;
    width: 320px;
    outline: none;
    background: #dedede;
    border: none;
    border-radius: 4px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 16px;
}

#previewWrap .itemPartD {
    width: 300px;
    height: 60px;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}
#previewWrap .itemPartD button {
    width: 80px;
    height: 30px;
    border: none;
    font-size: 14px;
    border-radius: 4px;
    background-color: #5161f4;
    transition: all 0.3s ease-out;
    color: #fff;
    cursor: pointer;
}
#previewWrap .itemPartD button:hover {
    background-color: #00337C;
    transition: all 0.3s ease-out;
}
#previewWrap .itemPartD #cancelBtn {
    background-color: #626aab;
}


#tempMessage {
    width: 260px;
    height: 60px;
    background-color: #e15241;
    color: #FFF;
    font-size: 16px;
    position: absolute;
    text-align: center;
    line-height: 60px;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
    top: 5%;
    right: 5%;
    opacity: 0;
}
#tempMessage.on {
    animation-name: fadeIn;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes fadeIn {
	0% {
		opacity : 0;
	}
    60% {
        opacity: 1;
    }
	100% {
		opacity : 0;
	}
}







