
#wrap {
    width: 1200px;
    height: 180vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#likes {
    position: sticky;
    left: 0%;
    top: 130%;
    width: 60px;
    height: 90px;
    color: #eee;
}
#likes > .img {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #fff;
    /* background: rgba(0,0,0,0.5); */
}

#likes > .img > iconify-icon {
    position: absolute;
    font-size: 40px;
    top: 17%;
    left: 17%;
    cursor: pointer;
}

#likes > .img > .like {
    color: red;
    animation-name: likee;
    animation-duration: 0.7s;
}

#likes > .img > .unlike {
    color: #ececec;
}

@-webkit-keyframes likee {
    0% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(2, 2);
    }
    50% {
        transform: scale(1.5, 1.5);
    }
    75% {
        transform: scale(2, 2);
    }
    100% {
        transform: scale(1, 1);
    }
}

#likes > p {
    width: 100%;
    text-align: center;
    position: absolute;
    font-weight: bold;
    font-size: 22px;
    bottom: 0px;
}




#viewwrap {
    width: 900px;
    height: 100%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #eee;
}

#board {
    min-height: 600px;
    background: #fff;
    box-shadow: rgb(0 0 0 / 0.5) 0px 6px 12px;
    backdrop-filter: blur(6px);
    border-radius: 12px;
    padding-bottom: 50px;
    overflow: hidden;
}

#board > #boardSubject {
    background: url(https://cdn.dribbble.com/users/113499/screenshots/7146093/space-cat.png) no-repeat;
    background-color: rgb(35, 76, 166);
    background-size: 35%;
    background-position: right 40%;
    margin: 0 auto;
    padding: 20px 30px;
    font-size: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
}

#board > #boardSubject .category {
    display: inline-block;
    height: 28px;
    font-size: 18px;
    width: 60px;
    line-height: 28px;
    margin-left: 20px;
    /* background-color: #7665c4; */
    border-radius: 16px;
    text-align: center;
}
#board > #boardSubject .category.default {
    display: none;
}
#board > #boardSubject .category.tech {
    background-color: #8265c4;
}
#board > #boardSubject .category.food {
    background-color: #c46565;
}
#board > #boardSubject .category.life {
    background-color: #c4af65;
}
#board > #boardSubject .category.travel {
    background-color: #93c465;
}

#board > #hashs {
    padding: 10px 16px;
    box-sizing: border-box;
}

#board > #boardInfo {
    padding: 10px 30px;
    margin-top: 20px;
    box-sizing: border-box;
    color: #888;
    font-size: 14px;
}
#board > #boardInfo ul {
    padding-bottom: 6px;
    border-bottom: 2px solid #ececec;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#board > #boardInfo a {
    color: #333;
    font-weight: 600;
}

#board > #boardInfo ul > li {
    margin-left: 12px;
}

#board > #boardInfo ul > li:nth-child(2) > span {
    margin-right: 16px;
}

#board > #boardInfo #userid {
    font-weight: 600;
}

#board > #boardInfo #userid::after {
    content: "•";
    margin-left: 10px;
    box-sizing: border-box;
}

#board > #contents {
    position: relative;
}


#board > #contents > #boardcontent {
    padding: 0 16px;
    margin-top: 10px;
    width: 100%;
    height: 1000px;
    box-sizing: border-box;
    background: none;
}

#profile {
    margin: 0 auto;
    margin-top: 100px;
    padding-top: 30px;
    border-top: 1px solid #ccc;
    display: flex;
    width: 800px;
    height: 180px;
}

#profile #img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    overflow: hidden;
}

#profile #img img {
    width: 150px;
    height: 150px;
}

#profile > #writerInfo {
    margin-left: 30px;
    padding: 20px 10px;
    width: 600px;
    height: 150px;
}

#profile > #writerInfo > #pblog {
    margin-top: 15px;
    font-size: 30px;
}
#profile > #writerInfo > #pblog > a {
    color: #333;
}
#profile > #writerInfo > #pIntroduce {
    margin-top: 5px;
    color: #999;
}


.btnBox {
    width: 100%;
    height: 80px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.btnBox > a {
    width: 360px;
    height: 80px;
    background-color: rgba(120,120,120,0.4);
    backdrop-filter: blur(4px);
    box-shadow: rgb(0 0 0 / 0.5) 0px 6px 12px;
    border-radius: 6px;
    padding: 0 16px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.btnBox > a iconify-icon {
    display: block;
    color: #19b27d;
    font-size: 40px;
    padding-top: 20px;
}
.btnBox > a:hover iconify-icon {
    animation-name: arrow;
    animation-duration: 0.6s;
}

@-webkit-keyframes arrow {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}



.btnBox > a > div > span {
    font-size: 14px;
    color: #ccc;
}
.btnBox > a > div {
    width: 280px;
    padding-top: 14px;
}

.btnBox > a > div > div {
    font-size: 24px;
    font-weight: 600;
    max-width: 280px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.btnBox > a:nth-child(1) > div {
    margin-left: 12px;
}

.btnBox > a:nth-child(2) > div {
    text-align: right;
    margin-right: 12px;
}






/*comment */

#commentsWrap {
    background-color: rgba(30,30,30,0.7);
    backdrop-filter: blur(4px);
    box-shadow: rgb(0 0 0 / 0.5) 0px 6px 12px;
    /* background-color: #232323; */
    border-radius: 12px;
    margin-top: 60px;
    width: 900px;
}

#comments {
    width: 800px;
    margin: auto;
    padding-top: 40px;
}


#commentfrm > #commentFrmInput > #comment {
    padding: 0px 0px 0px 16px;
    margin-top: 20px;
    width: 100%;
    height: 100px;
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 6px;
    color: #ececec;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    resize: none;
    outline: none;
}

#commentfrm > button {
    margin-top: 20px;
    width: 120px;
    height: 40px;
    padding: 5px 10px;
    background-color: #1c997a;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
    right: 50px;
    position: absolute;
    z-index: 3;
}
#commentfrm > button:hover {
    background-color: #0e5e3f;
    transition: all 0.2s;
}

#hashs {
    margin-left: 20px;
}

#hashs > .hashtags {
    display: inline-block;
    width: auto;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    color: #fff;
    background-color: #19b27d;
    border-radius: 5px;
    padding: 2px 6px;
    margin: 2px 2px;
    cursor: pointer;
}

/* comment */
#temp {
    margin-top: 120px;
    border-radius: 12px;
    padding-bottom: 50px;
}

#commentContent {
    width: 800px;
    margin-top: 20px;
    padding: 10px 0 10px 10px;
    box-sizing: border-box;
    height: min-content;
}

#commentContent.child {
    width: 740px;
    display: none;
}
#commentContent.child.open {
    display: block;
}

#commentContent > .writeData {
    width: 500px;
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: flex-start;
}

#commentContent > .writeData > div {
    margin-left: 10px;
    height: 40px;
    line-height: 34px;
}

#commentContent > .writeData .writer {
    display: inline-block;
    margin-right: 5px;
}

#commentContent > .writeData > #commentUser {
    font-size: 18px;
    font-weight: bold;
}

#commentContent > .writeData > #commnetDate {
    font-size: 12px;
}

#comments > #temp > ul > #commentContent > .writeData > #userimg > img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

#commentContent > .commentContent {
    width: 100%;
    height: 50px;
    font-size: 18px;
    margin-bottom: 20px;
    padding-left: 30px;
    border: none;
    color: #fff;
    background: none;
}

#commentContent > #btns {
    float: right;
}

#commentContent > #btns > .commentBtn {
    width: 70px;
    height: 20px;
    background: none;
    border: none;
    color: #bbb;
    cursor: pointer;
    font-size: 16px;
}
#commentContent > #btns > .commentBtn:hover {
    color: #fff;
}

#commentContent > #recommentBox {
    width: 100%;
    display: flex;
    justify-content: center;
}

#commentContent > #recommentBox > #openRecomment {
    cursor: pointer;
}
#commentContent > #recommentBox > #openRecomment::before {
    content: "▾";
    padding-right: 3px;
    color: #edc278;
}
#commentContent > #recommentBox > #openRecomment.close::before {
    transform: rotate(180deg);
    display: inline-block;
}


.child {
    position: relative;
    margin-left: 60px;
}

.child::before {
    content: "↳";
    position: absolute;
    left: -30px;
    top: 0px;
    font-size: 30px;
}

.child > .writeData {
    width: 500px;
    height: 60px;
}

.child > .writeData > .writer {
    display: block;
    margin-bottom: 7px;
}

.child > .writeData > #commentUser {
    font-size: 18px;
    font-weight: bold;
}

.child > .writeData > #commentDate {
    font-size: 12px;
}

.child > .commentContent {
    width: 100%;
    height: 50px;
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

.child > #btns {
    float: right;
}

.child > #btns > .commentBtn {
    width: 70px;
    height: 20px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

/* toast ui */
.toastui-editor-md-preview-highlight:after {
    display: none;
}
.toastui-editor-contents pre {
    color: #666;
}
.toastui-editor-contents strong {
    color: #000;
}
.toastui-editor-defaultUI {
    border: none;
}
.toastui-editor-contents p {
    font-size: 16px;
    margin: 5px 0;
}

